# -----------------------------------------------------------------
# Nagios configuration for ABC Technologies website monitoring
# Place this file in /usr/local/nagios/etc/objects/ (or your
# nagios objects directory) and reference it from nagios.cfg:
#   cfg_file=/usr/local/nagios/etc/objects/abc-website.cfg
# -----------------------------------------------------------------

define host {
    use                     linux-server        ; inherit default template
    host_name               abc-website-host
    alias                   ABC Technologies Web Server
    address                 127.0.0.1            ; change to your server/VM/container host IP
    max_check_attempts      5
    check_period             24x7
    notification_interval    30
    notification_period      24x7
}

define service {
    use                     generic-service
    host_name               abc-website-host
    service_description     HTTP
    check_command           check_http!-p 80 -u /health.txt -e "OK"
    max_check_attempts      3
    check_interval          1
    retry_interval          1
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}

define service {
    use                     generic-service
    host_name               abc-website-host
    service_description     PING
    check_command           check_ping!100.0,20%!500.0,60%
    max_check_attempts      3
    check_interval          1
    retry_interval          1
    check_period            24x7
    notification_interval   30
    notification_period     24x7
}
